@import '../../styles/styles.scss';

.reproductions {
    margin-bottom: 0px;

    &__isLoading {
        display: flex;
        justify-content: center;

        margin-top: 100px;
        margin-bottom: 300px;
        width: 100%;
    }

    &__error {
        display: flex;
        justify-content: center;

        margin-top: 100px;
        margin-bottom: 300px;
        width: 100%;

        font-family: 'Raleway-Regular', sans-serif;
        color: $primary-black;
        font-size: 40px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        margin-bottom: 30px;

        @media (max-width: $TopTablet) {
            flex-wrap: wrap;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__title {
        font-family: 'Raleway-Regular', sans-serif;
        color: $primary-black;
        font-size: 40px;
        
        @media (max-width: $TopLaptop) {
            font-size: 30px;
        }

        @media (max-width: $TopTablet) {
            width: 100%;

            font-size: 24px;
        }

        @media (max-width: $TopMobile) {
            margin-top: 60px;
        }
    }

    &__select {
        display: none;

        @media (max-width: $TopMobile) {
            display: inherit;

            width: 100%;

            & > div {
                width: 100%;

                border-color: #D4E8D9;
                box-shadow: none;
            }

            & > div:hover {
                border-color: #376B44;
                cursor: pointer;
            }

            & div[role=listbox] div {
                &:hover {
                    background: #E1EDE6;
                    cursor: pointer;
                }

                &:active {
                    background: #376B44;
                    color: #FFF;
                }

                &[aria-selected=true] {
                    background: #376B44;
                }
            }
        }
    }

    &__title-buttons {
        display: flex;
        gap: 32px;

        @media (max-width: $TopMobile) {
            display: none;
        }

        button {
            padding: 10px 20px;
            align-items: flex-start;
    
            font-family: 'Raleway-Regular', sans-serif;
            color: $primary-black;
            font-size: 20px;
            
            border-radius: 20px;
            border: #D4E8D9;
            background: #D4E8D9;
    
            cursor: pointer;

            @media (max-width: $TopTablet) {
                font-size: 18px;
            }
        }
        
        .reproductions__active-button {
            background: #376B44;
            color: #F4F6F5;
            
            @media (max-width: $TopTablet) {
                font-size: 18px;
            }
        }
    }
}