@import '../../styles/styles.scss';

.new-collection {
    margin: 30px auto 0;
    padding: 70px 20px;
    box-sizing: border-box;

    background-image: url('../../images/NewCollection.png');
    background-position: right 35% bottom 45%;

    @media (max-width: $TopLaptop) {
        margin: 20px auto 0;
    }

    @media (max-width: $TopTablet) {
        margin: 0px auto 0;
        padding: 50px 20px;
    }

    @media (max-width: $TopMobile) {
        margin: 20px auto 0;
    }

    &__header {
        display: inline-flex;
        align-items: center;
        width: 100%;

        svg {
            margin-left: 70px;
            width: 80px;
            height: 80px;

            @media (max-width: $TopLaptop) {
                width: 60px;
                height: 60px;
            }

            @media (max-width: $TopTablet) {
                margin-left: 10px;

                width: 50px;
                height: 50px;
            }
        }
    }

    h1 {
        width: 421px;
        margin-left: 20px;

        font-family: 'Raleway-Regular', sans-serif;
        color: #F4F6F5;
        font-size: 40px;
        font-weight: 500;
        line-height: 100%;

        @media (max-width: $TopLaptop) {
            font-size: 30px;
        }

        @media (max-width: $TopTablet) {
            font-size: 24px;
        }

        @media (max-width: $TopMobile) {
            margin-left: 10px;

            width: 230px;
        }
    }

    &__description {
        margin-bottom: 0;

        width: 540px;
        margin-left: 70px;

        font-family: 'Raleway-Regular', sans-serif;
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;

        @media (max-width: $TopTablet) {
            width: 100%;
            margin-left: 0;

            font-size: 16px;
        }
    }

    button {
        margin: 40px 0 0 70px;
        padding: 21px 60px;
        
        justify-content: center;
        align-items: center;

        background: #EEDB6D;
        border: #EEDB6D;

        font-family: 'Raleway-Regular', sans-serif;
        color: $primary-black;
        font-size: 20px;

        cursor: pointer;

        @media (max-width: $TopLaptop) {
            padding: 18px 36px;
            margin: 30px 0 0 70px;
        }

        @media (max-width: $TopTablet) {
            padding: 14px 35px;
            margin: 40px 0 0 10px;

            font-size: 18px;
        }

        @media (max-width: $TopMobile) {
            margin: 40px 0 0 0;
            width: 100%;
        }
    }
}
