$primary-green: #E1EDE6;
$alter-green: #598D66;

//шрифты
$primary-black: #2C2D35;
$light-black: #86928B;

// breakpoints
$LowMobile: 320px;
$TopMobile: 575px;
$LowTablet: 576px;
$TopTablet: 767px;
$LowLaptop: 768px;
$TopLaptop: 1439px;
