@import '../../styles/styles.scss';

.cart-is-empty {
    margin-top: 170px;

    &__title {
        display: flex;
        justify-content: center;

        margin: 70px 25px 20px 25px;

        font-family: 'Raleway-Regular', sans-serif;
        color: $primary-black;
        font-size: 40px;

        @media (max-width: $TopTablet) {
            margin: 40px 25px 20px 25px;

            font-size: 30px;
        }

        @media (max-width: $TopMobile) {
            font-size: 25px;
        }
    }

    &__icon-easel {
        display: flex;
        justify-content: center;

        margin: 30px 10px 30px 70px;

        img {
            height: 500px;
            width: 250px;

            @media (max-width: $TopTablet) {
                height: 350px;
                width: 200px;
            }

            @media (max-width: $TopMobile) {
                height: 320px;
                width: 180px;
            }
        }
    }
}

.cart-page {
    margin-top: 170px;

    &__title {
        margin: 70px 25px 20px 25px;

        font-family: 'Raleway-Regular', sans-serif;
        color: $primary-black;
        font-size: 30px;
    }

    &__buy {
        display: grid;
        grid-template-columns: 2fr 2fr 1.5fr 200px;

        align-items: center;

        margin: 15px 0 25px 0;

        @media (max-width: $TopLaptop) {
            grid-template-columns: 2fr 2fr 1.5fr 155px;
        }

        @media (max-width: $TopTablet) {
            grid-template-columns: 1.5fr 2fr 2fr 125px;
        }

        @media (max-width: $TopMobile) {
            grid-template-columns: 0px 0px 138px 152px;
        }

        span {
            grid-column: 3 / 4;
            margin-left: auto;

            margin-right: 25px;
            font-family: 'Raleway-Regular', sans-serif;
            color: $alter-green;
            font-size: 24px; 

            @media (max-width: $TopLaptop) {
                font-size: 18px;
            }
        }

        button {
            grid-column: 4 / 5;

            padding: 20px 20px;

            font-family: 'Raleway-Regular', sans-serif;
            color: #F4F6F5;
            font-size: 20px;

            background: #376B44;
            border: none;
            border-radius: 20px;
            cursor: pointer;

            @media (max-width: $TopLaptop) {
                grid-column: 4 / 5;
                
                font-size: 16px;

                padding: 15px 10px;
            }
        }
    }
}