@import '../../styles/styles.scss';

.header {
    display: flex;
    align-items: center;

    height: 100px;
    width: 100%;

    background: $primary-green;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 60px;

        font-family: 'Raleway-Regular', sans-serif;
        color: $primary-black;

        & > * {
            cursor: pointer;
        }
    }
}



