@import '../../styles/styles.scss';

.burger-menu {
    display: none;

    @media (max-width: $TopMobile) {
        display: block;
    }

    button {
        border: none; 
        background-color: #E1EDE6;
        cursor: pointer;
    }

    .burger-menu__menu-active {
        background: $primary-green;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        z-index: 10;

        a:not(.special-link) {
            text-decoration: none;
            color: inherit;
        }

        ul {
            display: flex;
            gap: 50px;
            flex-direction: column;

            list-style-type: none;
            margin: 0;
            padding: 0;

            margin-top: 30px;
            padding-left: 11px;
        }

        li {
            font-family: 'Raleway-Regular', sans-serif;
            color: $primary-black;
            font-size: 18px;
        } 

        button {
            margin-top: 10px;
        }
    }

    &__logo {
        margin-top: 6px;
        width: auto;
        padding: 16px;

        text-align: center;

        border-bottom: 1px solid #C3D1C6;

    }

}