@import '../../styles/styles.scss';

.footer {
    width: 100%;

    background: $primary-green;

    &__description {
        display: flex;

        padding-top: 23px;
        padding-bottom: 23px;

        h6 {
            margin: 0;

            font-family: 'Raleway-Regular', sans-serif;
            color: $primary-black;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;

            @media (max-width: $TopMobile) {
                font-size: 16px;
            }
        }

        p {
            font-family: 'Raleway-Regular', sans-serif;
            color: $light-black;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;

            margin: 0px;

            @media (max-width: $TopMobile) {
                font-size: 16px;
            }
        }

        @media (max-width: $TopLaptop) {
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;
        }

        @media (max-width: $TopTablet) {
            justify-content: center;
        }
        
    }


    &__contact-info {
        width: 100%;

        div {
            @media (max-width: $TopMobile) {
                display: none;
            }
        }

        h6 {
            margin-top: 35px; 

            @media (max-width: $TopLaptop) {
                margin-top: 0px;
            }
        }

        p {
            margin-top: 12px;

            @media (max-width: $TopLaptop) {
                text-align: end;
            }
        }

        @media (max-width: $TopLaptop) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    &__menu {
        display: flex;
        margin-left: 115px;

        gap: 40px;

        div {
            display: flex;
            flex-direction: column;

            gap: 12px;
        }

        @media (max-width: $TopLaptop) {
            margin-left: 0px;
        }

        @media (max-width: $TopTablet) {
            gap: 100px;
            padding-bottom: 15px;
            
            width: 100%;

            border-bottom: 1px solid #C3D1C6;
        }

        @media (max-width: $TopMobile) {
            display: grid;
            grid-template-columns: 1fr 104px;
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 40px;
            grid-row-gap: 20px;
        }
    }

    &__contact-info-mobile {
        display: none !important;

        @media (max-width: $TopMobile) {
            display: inherit !important;
        }
    }

    &__social-media {
        display: flex;
        margin-left: 248px;
        flex-direction: column;
        gap: 6px;

        @media (max-width: $TopTablet) {
            flex-direction: row;
            max-width: 176px;
            justify-content: center;
            flex-wrap: wrap;

            gap: 0px;
        }


        span {
            font-family: 'Raleway-Regular', sans-serif;
            color: $light-black;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;

            @media (max-width: $TopLaptop) {
                text-align: end;
            }
        }

        @media (max-width: $TopLaptop) {
            margin-left: 0px;
        }
    }

    &__social-media-icons {
        display: flex;
        gap: 30px;

        @media (max-width: $TopTablet) {
            margin-bottom: 10px;
        }
    }
}